
.container {
    display: inline-flex;
    align-items: center;
    background-color: #AEB8FE;
    height: 50px;
    width: 300px;
    border-radius: 20px;
    margin-right: 30px;
    margin-top: 10px;
    
  }

  .logout-button {
    margin-left: 10px;
    display: flex;
    width: 100px;
    height: 30px;
    position: relative;
    background: #758BFD;
    border-radius: 20px;
    border:none;
    justify-content: center; 
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background: #5d73c7;
    color: #fff;
  }

.user-name{
  color: white;
  display: flex;
  margin-left: 80px;
  font-size: large;
}
 