.card-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.card {
  width: calc(33.33% - 20px); 
  margin-top: 30%;
  margin-right: 20px;
  width: 250px;
  height: 500px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  align-items: center;
  }

  .card-body {
    margin-top: 70px;
  }

  .card-img {
    border-radius: 50%;
    width: 200px;
    margin-top: 50px;
  }
  
  .card-title {
    font-size: 1.25rem; 
    font-weight: bold; 
  }
  
  .card-text {
    font-size: 1rem; 
  }
  